<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="odanUrr" class="com.epam.botor.domain.Jedi">
		<constructor-arg ref="lightSabre" />
	</bean>

	<bean id="lightSabre" class="com.epam.botor.domain.LightSabre">
		<constructor-arg value="Slicer" />
		<constructor-arg value="10" />
	</bean>

</beans>
